@import "breaks";

.cherry-cupcake {
  display: inline;

  .cupcake {
    height:20vh;
    width:auto;
    display: inline;
  }
  .cherry {
    height:20vh;
    width: auto;
    position: relative;
    visibility: hidden;
    overflow-x: hidden;
    bottom: 1000px;
    bottom: 100vh;
    right: 40px;
  }
}
